<nav class="navbar navbar-expand navbar-light" style="height: 50px">
  <a class="logo">
    <img src="/assets/img/clogo.png" width="40" height="40" class="d-inline-block align-top" alt="" >

  </a>

  <div class="container-fluid">
    <div class="collapse-horizontal navbar-collapse" >
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" *ngIf="isLogged"><a routerLink="/cocktails"  style="text-decoration-line: none; color: black ;border-right: black " >Cocktails</a></li>
        <li routerLinkActive="active"><a routerLink="/shop/homepage"  style="text-decoration-line: none;color: black ">The Cocktail Shop</a></li>
        <li routerLinkActive="active" *ngIf="isAdmin"><a routerLink="/adminhub"  style="text-decoration-line: none;color: black ">Admin Hub</a></li>

      </ul>

      <ul class="navbar-nav ms-auto" >

        <li routerLinkActive="active" *ngIf="!isLogged"><a  routerLink="/login"    style=" text-decoration-line: none;color: black; ">Login</a></li>
        <li routerLinkActive="active" *ngIf="!isLogged"><a  routerLink="/signup"    style=" text-decoration-line: none;color: black; ">Sign Up</a></li>
        <li *ngIf="isLogged">
          <a style="cursor: pointer" (click)="onLogout()">Log out</a>
        </li>

      </ul>

    </div>
  </div>


  <a class="logo">
    <img src="/assets/img/clogo.png" width="40" height="40" class="d-inline-block align-top" alt="" >
  </a>
</nav>
