<app-shop-header></app-shop-header>

  <div class="container-fullwidth" >
    <div class="row" style="alignment: inherit">
      <div class="col">

        <router-outlet>

        </router-outlet>

      </div>
    </div>
  </div>

<app-footer></app-footer>





<!--<app-shop-header></app-shop-header>

<div class="container-fullwidth" >
  <div class="row" style="alignment: inherit">
    <div class="col">
      <router-outlet>

      </router-outlet>

    </div>
  </div>
</div>
<app-footer></app-footer>

-->
