li {
  font-weight: bold;
  font-family: 'Crimson Text', serif;
  padding: 20px;

}

nav{
  background-image: linear-gradient(to right, #edddd4, #a15055);
}
nav:hover{
  background-color:#fae1dd;
}
.active {
  background-color: #f8edeb;
  border-color: #f8edeb;
}
