<nav class="navbar navbar-expand navbar-light" style="height: 50px">


  <div class="container-fluid">

    <div class="collapse-horizontal navbar-collapse" >
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" ><a routerLink=""  style="text-decoration-line: none; color: black ;border-right: black " >Whysky</a></li>
        <li routerLinkActive="active"><a routerLink="="  style="text-decoration-line: none;color: black ">Gin</a></li>
        <li routerLinkActive="active"><a routerLink="="  style="text-decoration-line: none;color: black ">Wine</a></li>
        <li routerLinkActive="active"><a routerLink="="  style="text-decoration-line: none;color: black ">Champagne</a></li>
        <li routerLinkActive="active"><a routerLink="="  style="text-decoration-line: none;color: black ">Rum</a></li>

      </ul>



    </div>
  </div>

</nav>
