<div class="row">
<div class="col-xs-12">
<div class="imgcontainer curcubeu">
  <img src="/assets/img/logo.png" alt="Avatar" class="avatar">
</div>
<div class="form-group text-center rosiatic">
  <button class="btn btn-danger" value="Submit" (click)="mergemlaStergere()">Sterge</button>
</div>
<div class="form-group text-center rosiatic">
  <button class="btn btn-danger" value="Submit" (click)="mergemlaEditare()">Editare</button>
</div>
<div class="form-group text-center rosiatic">
  <button class="btn btn-danger" value="Submit" (click)="mergemlaAdaugare()">Adaugare</button>
</div>
</div>
  <div class="col-xs-12">
    <router-outlet></router-outlet>
  </div>
</div>
