form {
  border: 0px solid #f1f1f1;
}

input[type=email], input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #d9ae94;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}


.titlu{
  color: darkred;
  font-size: 30px;
  font-weight: bold;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  max-height: 100px;
  max-width: 1400px;
 padding-left: 50px;

}
.margine3d{
  transition: 0.4s;
}
.margine3d:hover{
  transition: 0.2s;
  box-shadow: 0 0 10px #cb1b16, 0 0 15px #9f6976, 0 0 20px #cb1b16, 0 0 25px #9f6976;
}
img.avatar {
  width: 40%;
  border-radius: 50%;
  z-index: -1;
  align-self: inherit;
}

.container {
  padding: 16px;
  max-width: 1000px;
  max-height: 600px;
  position: inherit;


}


.curcubeu {
  animation: color-change 5s infinite;
}

@keyframes color-change {
  0% { color: #eaac8b; }
  25% {color: #e56b6f; }
  50% { color: #b56576; }
  75% { color: #6d597a;}
  100% { color: #355070; }
}

